html {
    background: url('./images/fall-bg-1920x1080-v2.png') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
    background-position-x: center; */
}
#timer{
    font-size: 40px;
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 40px auto;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.6);
    width: 30%;
}
@media only screen and (max-width: 480px) {
   #timer {
       width: 60%;
   }
}